@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100&family=Public+Sans&display=swap");
* {
  font-family: "Public Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-left {
  margin-top: 12px;
  margin-left: 18px;
  display: flex;
  align-items: center;
}

#logo {
  height: 32px;
  width: 36px;
}

.top-left span {
  font-weight: bold;
  font-size: 16px;
  margin-left: 24px;
}

.top-right {
  justify-content: space-around;
  display: flex;
  padding-right: 19px;
}

button {
  margin-top: 13px;

  padding: 9px;
  font-size: 14px;
  border: 2px solid rgb(241, 241, 241);
  color: rgb(68, 68, 68);
  background-color: white;
  border-radius: 5px;
}

.button-delete:hover{
  transition: all .3s ease-in;
  background-color: crimson;
}

.top-right .create-form button:hover {
  opacity: 0.75;
}

button:hover {
  background-color: rgb(241, 241, 241);
  color: rgb(0, 0, 0);
}

.top-right .create-form button {
  background-color: rgb(248, 28, 229);
  color: white;
  font-weight: bold;
}

.central {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#imgcentral {
  padding-top: 17px;
  height: 519px;
}

.texts {
  display: inherit;
  flex-direction: column;
  align-items: center;
}

.txt-1 {
  font-size: 64px;
  line-height: 1.25;
  margin-bottom: 24px;
}

.txt-2 {
  font-size: 20px;
}

.rosa {
  color: rgb(248, 28, 229);
}

.central button {
  padding: 13px 24px;
  margin-top: 43px;
  border-radius: 8px;
  font-size: 17px;
  color: white;
  background-color: #000;
  font-weight: bold;
  border: 0px;
}

.central button:hover {
  background-color: rgb(56, 13, 97);
}

.txt-3 {
  font-size: 13px;
  color: rgb(119, 119, 119);
  margin-top: 9px;
}

@media (max-width: 1300px) {
  #bot {
    width: 1000px;
  }
}

@media (max-width: 1150px) {
  #bot {
    width: 900px;
  }
}

@media (max-width: 400px) {
  #pricing {
    display: none;
  }
  .top-left span {
    display: none;
  }
  .create-form {
    display: none;
  }
  .top-right button {
    padding: 0px;
  }
  #imgcentral {
    height: 260px;
  }
  .txt-1 {
    text-align: center;
    font-size: 26px;
    line-height: 1.25;
  }
  .txt-2 {
    font-size: 14px;
  }
  .central button {
    margin-top: 20px;
  }
  #botton-full {
    display: flex;
    width: 350px;
    height: 232px;
  }
  footer {
    margin-top: 27px;
    flex-direction: column;
    align-items: center;
  }
  #bot {
    display: none;
  }
  #bot-right {
    height: 30px;
  }
  h2 {
    font-size: 26px;
    display: flex;
    padding-top: 25px;
  }
}

h1, h2{
  padding: 1rem 0;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
textarea {
  border-radius: .25rem;
  padding: .5rem .25rem;
  margin: .5rem 0;
  display: block;
  margin-bottom: 10px;
  width: 300px;
}


#postagens {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.postagem {
  max-width: 60%;
  border: 1px solid #222;
  border-radius: 1rem;
  padding: 10px;
  margin-bottom: 10px;
}

.postagem button {
  margin-left: 10px;
}

img{
  max-width: 100%;
}

.container{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}